{{> post-details posts}}

<div id="comment-form">
  <input type="text" id="comment-text" placeholder="Enter your comment">
  <button id="comment-submit">Submit Comment</button>
</div>



<script src="/js/comment.js"></script>