<form class="form post-form">
  <div class="form-group">
    <label for="username-login">Title:</label>
    <input class="form-input" type="text" id="post-title" />
  </div>
  <div class="form-group">
    <label for="password-login">Content:</label>
    <input class="form-input" type="text" id="post-content" />
  </div>
  <div class="form-group">
    <button class="submit-button" type="submit" data-user-id="{{loggedInUser}}">Create Post</button>
  </div>

  <script src="/js/newPost.js"></script>