<section id="update" class="card" class="post" data-post-id="{{id}}">
  <div>
    <label for="post-title">Title:</label>
    <input class="update-form-input" type="text" id="title" value="{{posts.title}}" />
  </div>holde
  <div>
    <label for="post-content">Content:</label>
    <input
      class="update-form-input"
      type="text"
      id="content"
      value="{{posts.content}}"
    />
  </div>

  <button class="update-post-button">Update Post</button>
  <button class="delete-post-button">Delete Post</button>
</section>

<div class="message" id="message" style="display: none;">
    <p>Please provide both a title and content</p>
  <div>

<script src="/js/updatePost.js"></script>
<script src="/js/deletePost.js"></script>